###
# 1/ For every container, build a DNS masq based on
#    <docker-compose service>.<docker-compose project>.docker
#
{{ range $index, $container := $ }}
    {{ with $network := last $container.Networks }}
address=/{{ index $container.Labels "com.docker.compose.service" }}.{{ index $container.Labels "com.docker.compose.project" }}.docker/{{ $network.IP }}
    {{ end }}
{{ end }}


###
# 2/ For containers meant to be proxied by NGINX (have a VIRTUAL_HOST)
#    we create matching records. their IP will be modified by make script
#
# PROXY_BEGIN
{{ range $index, $container := $ }}
    {{ with $network := last $container.Networks }}
        {{ if $container.Env.VIRTUAL_HOST }}
address=/{{ $container.Env.VIRTUAL_HOST }}/{{ $network.IP }}
        {{ end }}
    {{ end }}
{{ end }}
#
#
# PROXY_END
no-hosts
domain-needed
bogus-priv
